.App {
    text-align: center;
}

.App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-categories>a {
    /* Don't show the built-in underline */
    text-decoration: none;
    margin: 10pt;
    position: relative;
    color: white;
}

.App-categories>a:hover {
    text-decoration: underline;
    color: gray;
}

.App-header>ReleaseList {
    background-color: blue;
    color: red;
}

.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
}

.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}

.tab-list-active {
    background-color: #282c34;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
}

table {
    /*  border-collapse: collapse;
    width: 100%; */
    border: 1px;
    font-size: 12pt;
}

tr:nth-child(even) {
    background-color: #3F3F3F;
}

th,
td {
    text-align: left;
    padding: 8pt;
}